---
# Reference: https://clang.llvm.org/docs/ClangFormatStyleOptions.html
Language:        Cpp
BasedOnStyle:  Google

SpaceBeforeCtorInitializerColon : false
BreakConstructorInitializers: AfterColon
PackConstructorInitializers : Never
ConstructorInitializerIndentWidth: 2

IndentWidth: 4
AccessModifierOffset: -2
InsertBraces: true

SeparateDefinitionBlocks : Always

ColumnLimit: 120
PenaltyBreakAssignment : 100000
PenaltyBreakComment: 0
...

