Hover:
  ShowAKA: Yes

InlayHints:
  Enabled: Yes
  ParameterNames: No
  DeducedTypes: Yes

CompileFlags:
  Add:
    [
      -Wunused-function,
      -Wall,
      -Wextra,
      -Wshadow,
      -Wpedantic,
      -Werror=unused-variable,
      -Wexceptions,
      -Wno-switch-enum,
      -Wimplicit-fallthrough,
    ]
  Remove: -Werror

Diagnostics:
  UnusedIncludes: Strict
  ClangTidy:
    Add: [
        clang-diagnostic-*,
        clang-analyzer-*,
        performance*,
        modernize*,
        # modernize-deprecated*,
        # modernize-pass-by-value,
        # modernize-use-override,
        # modernize-loop-convert,
        # modernize-raw-string-literal,
        google-explicit-constructor,
        # readability-simplify-boolean-expr,
        # readability-make-member-function-const,
        readability*,
        bugprone-exception-escape,
        "*redundant*",
        "*unused*",
      ]
    # Add: ['*']
    #Add: modernize*
    Remove:
      [
        modernize-use-trailing-return-type,
        modernize-use-using,
        readability-identifier-length,
        readability-implicit-bool-conversion,
        readability-suspicious-call-argument,
        readability-qualified-auto,
        readability-magic-numbers,
        readability-isolate-declaration,
        readability-redundant-access-specifiers,
      ]
    CheckOptions:
      readability-function-cognitive-complexity.Threshold: 100
